*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.header h3 {
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 4px;
}

.header button {
  padding: .6rem 2rem;
  border-radius: 20px;
  text-align: center;
  background-color: black;
  color: #ffff;
  outline: none;
  border: none;
  font-weight: normal;
  text-transform: uppercase;
  /* letter-spacing: 3px; */
  cursor: pointer;
}


.main-app {
  width: 80%;
  margin: 30px auto;
}

.app-form {
  width: 100%;
  display: grid;
  grid-template: 50% 50% / 1fr 1fr;
  grid-gap: 20px;
}

.btn-app-button {
  grid-column: 1 / -1;
  background-color: black;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  outline: none;
  border: nones;
  letter-spacing: 2px;
}


.app-form input {
  padding: .6rem 2rem;
  outline: none;
  border: 2px solid #eee;
}




/* Counter */

.counter, .state-test {
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-counter {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: rgb(15, 196, 15);
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 20px;
  margin: 0 .8rem;
}